:root {
    --primary-bg: rgb(102, 119, 126);
    --button-bg: #b90019;
    --white: #F7F7F7;
    --black: #000000;
    --font-family: "Barlow Condensed", "Helvetica Neue", sans-serif;
    --shadow-color: 0deg 0% 0%;
    --shadow-box:
        4.8px 4.8px 1.9px -9px rgba(0, 0, 0, 0.65),
        9.5px 9.3px 3.6px -9px rgba(0, 0, 0, 0.506),
        14px 13.8px 5px -9px rgba(0, 0, 0, 0.427),
        18.6px 18.2px 6px -9px rgba(0, 0, 0, 0.384),
        23.4px 22.9px 6.7px -9px rgba(0, 0, 0, 0.355),
        28.9px 28.3px 7.3px -9px rgba(0, 0, 0, 0.325),
        35.7px 34.9px 8.3px -9px rgba(0, 0, 0, 0.286),
        45.3px 44.4px 13.6px -9px rgba(0, 0, 0, 0.235),
        61.5px 60.3px 32.4px -9px rgba(0, 0, 0, 0.17),
        100px 98px 58px -9px rgba(0, 0, 0, 0.091);
  }

  body {
    font-weight: 300;
    font-style: normal;
  }

  #loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: #556a76;
    transition-delay: 5s;
    transition: opacity 2s ease; 
  }

  .logo-container {
    position: relative;
    display: inline-block;
  }

  .logo {
    display: block;
    width: 200px;  
    height: auto;
    transition-delay: 2.8s;
    transition: opacity 4.2s ease;
  }

  h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', 'Times', serif;
    font-weight: 600;
  }
  
  /* Global Styles */
  * {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 0%;
    font-style: normal;
  }
  
  body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    padding-inline: 60px;
  }
  
  /* Header Styles */
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 1rem;
    background: var(--primary-bg);
    border: 1px solid var(--black);
    box-shadow: var(--shadow-box)
  }
  
  header img {
    margin: 1.3rem;
    max-width: 200px;
  }
  
  header h1 {
    display: flex;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0%;
    color: var(--white);
    margin-left: 1.3rem;
  }
  
  /* Section Titles */
  section h2 {
    text-align: left;
    margin: 2rem 0;
    font-size: 42px;
    text-shadow: var(--shadow-box);
  }
  
  /* Best Movie Section */
  #best-movie-title {
    text-align: left;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 0%;
    color: var(--black);
  }
  
  #best-movie { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    padding: 1rem 0;
    margin: auto 0;
  }
  
  .best-movie-container article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: left;
    margin: 0;
  }
  
  .best-movie-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    border: 3.5px solid rgba(0, 0, 0, 0.67);
    padding: 1.5rem;
    box-shadow: var(--shadow-box)
  }
  
  #best-movie-img {
    display: inline-flex;
    justify-self: flex-start;
  }

  button {
    color: var(--white);
    background: var(--button-bg);
    border-radius: 25px;
    padding: 2px 4px;

  }
  
  .best-movie-container button {
    width: 166px;
    height: 68px;
    margin-top: auto;   
    align-self: flex-end;  
  }
  
  button:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: inset 5px 5px 14px -10px var(--black), 
                inset 6px 9px 34px -29px var(--black);
    transform: perspective(2px) translateZ(0);
  }
  
  .catalogue {
    margin: 0;  
  }
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    
  }
  
  .movie-box {
    position: relative; 
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    overflow: hidden; 
    box-shadow: var(--shadow-box)
  }
  
  .movie-box img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Overlay Styles */
  .overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }

  .movie-box:hover .overlay {
    opacity: 1;
  }

  .overlay button {
    background: var(--button-bg);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
  }
  
  .overlay button:hover {
    background: var(--button-bg);
    color: var(--white);
  }
  
  .overlay:hover {
    background: rgba(0, 0, 0, 0.7);
    color: var(--white);
  }
  
  /* Dropdown for Categories */
  .category-list {
    background-color: #34495e;
    color: var(--white);
    font-size: 32px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-justify: center;
    width: 200px;
  }
  
  .dropdown-child {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    transition: display 0.4s ease-in-out;
  }
  
  .dropdown-child a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--black);
    font-size: 30px;
    text-align: center;
    text-justify: center;
    width: 200px;
  }

  .dropdown-child a:hover {
    background-color: #5d6975;
    color: var(--white);
  }
  
  .dropdown:hover .dropdown-child {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  /* Modal Styles */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
  }
  
  #modal-content {
    background: var(--white);
    margin: auto;
    padding: 40px;
    border: 3.5px solid var(--black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: var(--shadow-box);
    background: var(--white);
    max-height: 90vh; 
    max-width: 120vh;
    overflow-y: auto;
  }

  .modal-header {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-height: fit-content;
  }

  #modal-title {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1;
}

  .technical-datasheet {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .technical {
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1;
  }

  #directors em {
    font-size: 24px;
    font-weight: 600;
  }

  #directors {
    margin-block: 1rem;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
  }

  #modal-poster {
    margin: 0 0 auto auto;
    z-index: 2;
    align-self: baseline;
    justify-self: right;
  }

  #synopsis {
    margin-block: 1rem;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
  }

  #casting {
    margin-block: 1rem;
    font-size: 14px;
    font-weight: 400;
  }

  .close-modal {
    display: flex;
    justify-content: center;
  }

  #close-modal {
    margin: 0 auto;
    justify-self: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    width: 166px;
    height: 68px;
  }
  
  /* Tablet */
  @media screen and (max-width: 1024px) {
    .best-movie-container {
      flex-direction: column;
      text-align: center;
    }
  
    .best-movie-container img {
      width: 100%;
    }
  
    .movie-box {
      width: calc(50% - 20px);
    }

    #modal-content {
      width: 100%;
    }

    #modal-poster {
      position: sticky;
      top: 30px; 
      align-self: end;
    }
  
    .dropdown-child {
      min-width: 200px;
    }
  }
  
  /* Mobile */
  @media screen and (max-width: 768px) {
    * {
      max-width: 100%;
    }
    
    .headert img {
      align-self: center;
    }

    .header h1 {
      display: none;
    }

    .best-movie-container img {
      width: 100%;
    }
    .catalogue {
      width: 100%;
    }

    .movie-container {
      display: column;
      justify-content: center;
    }
    
    .movie-box {
      width: 100%; 
      margin: 10px auto;
    }
  
    .category-list {
      padding: 15px;
    }

    #modal-content {
      padding: 20px;
      display: block;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      max-height: fit-content;
      overflow-y: scroll
    }

    #modal-poster {
      display: flex;
      justify-self: center;
      margin: 1rem auto;
      flex-grow: initial;
    }

    .technical-datasheet, #modal-poster #synopsis, #casting {
      width: 100%;
    }

  }
  
  