  /* Loading fonts from Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
    
  /* Global settings */
  :root {
    /* --dark-bg: #021117; */
    --dark-bg: #000a0d;
    --light-bg: #dffff7;
    --dark-red: #7e0000;
    --warm-yellow: #E47846;
    --light-red: var(--warm-yellow);
    --bright-blue: #12e4ef;
    --dark-mint-ref: #e3fff8;
    --flashy-mint: #22ffd1;
    --logo-green: #5CABAC;
    --dark-mint-ref: #e3fff8;
    --font-family: "Roboto Condensed", sans-serif;
    --movie-font: "Dancing Script", serif;
    --category-font : "Racing Sans One", serif;
    --fresh-mint-green-svg-filter: 
        invert(67%) sepia(5%) 
        saturate(2755%) hue-rotate(132deg) 
        brightness(91%) contrast(94%);
    --dark-red-svg-filter: invert(8%) sepia(76%) 
    saturate(6569%) hue-rotate(10deg) 
    brightness(84%) contrast(113%);
    --bright-blue-filter: invert(45%) sepia(75%) 
    saturate(583%) hue-rotate(135deg) 
    brightness(94%) contrast(87%);
    --warm-yellow-svg-filter: invert(65%) sepia(36%) 
        saturate(4155%) hue-rotate(332deg) 
        brightness(96%) contrast(85%);
    --dark-red-gradient : linear-gradient(315deg, 
        hsla(0, 100%, 15%, 1) 0%, 
        hsla(0, 77%, 27%, 1) 23%, 
        hsla(0, 66%, 44%, 1) 40%, 
        hsla(0, 65%, 47%, 1) 43%, 
        hsla(0, 64%, 50%, 1) 49%, 
        hsla(0, 66%, 44%, 1) 58%, 
        hsla(0, 74%, 30%, 1) 70%, 
        hsla(0, 100%, 15%, 1) 91%);
    --warm-yellow-gradient: linear-gradient(135deg, 
        hsla(19, 61%, 54%, 1) 4%,
        hsla(19, 80%, 63%, 1) 20%, 
        hsla(19, 84%, 67%, 1) 28%,
        hsla(19, 93%, 73%, 1) 37%,
        hsla(19, 100%, 76%, 1) 47%,
        hsla(19, 94%, 74%, 1) 59%, 
        hsla(19, 81%, 65%, 1) 76%,
        hsla(19, 77%, 62%, 1) 82%,
        hsla(19, 69%, 58%, 1) 89%,
        hsla(19, 61%, 54%, 1) 100%);
    --warm-yellow-shadow:
        drop-shadow(0 0 1px #FFF)
        drop-shadow(0 0 2px #FFF)
        drop-shadow(0 0 4px #FFF)
        drop-shadow(0 0 5px var(--warm-yellow))
        drop-shadow(0 0 6px var(--warm-yellow))
        drop-shadow(0 0 8px var(--warm-yellow))
        drop-shadow(0 0 9px var(--warm-yellow))
        drop-shadow(0 0 10px var(--warm-yellow));
    --neon-logo-mint:
        0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px var(--logo-green),
        0 0 30px var(--logo-green),
        0 0 40px var(--logo-green),
        0 0 55px var(--logo-green),
        0 0 75px var(--logo-green);
    --neon-logo-mint-img:
        drop-shadow(0 0 1px #FFF)
        drop-shadow(0 0 2px #FFF)
        drop-shadow(0 0 4px #FFF)
        drop-shadow(0 0 5px var(--logo-green))
        drop-shadow(0 0 6px var(--logo-green))
        drop-shadow(0 0 8px var(--logo-green))
        drop-shadow(0 0 9px var(--logo-green))
        drop-shadow(0 0 10px var(--logo-green));
    --relief-logo-effect: 
        drop-shadow(1px 1px 0px #E47846) 
        drop-shadow(2px 2px 0px #E47846) 
        drop-shadow(3px 3px 3px var(--logo-green));
    --shadow-box:
        4.8px 4.8px 1.9px -9px rgba(0, 0, 0, 0.65),
        9.5px 9.3px 3.6px -9px rgba(0, 0, 0, 0.506),
        14px 13.8px 5px -9px rgba(0, 0, 0, 0.427),
        18.6px 18.2px 6px -9px rgba(0, 0, 0, 0.384),
        23.4px 22.9px 6.7px -9px rgba(0, 0, 0, 0.355),
        28.9px 28.3px 7.3px -9px rgba(0, 0, 0, 0.325),
        35.7px 34.9px 8.3px -9px rgba(0, 0, 0, 0.286),
        45.3px 44.4px 13.6px -9px rgba(0, 0, 0, 0.235),
        61.5px 60.3px 32.4px -9px rgba(0, 0, 0, 0.17),
        100px 98px 58px -9px rgba(0, 0, 0, 0.091);
  }

/* Reboot */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.light-theme {
  display: none;
}

.dark-theme {
  display: block;
}

/* Global Styles */
body {
  width: 100%;
  color: var(--dark-mint-ref);
  background-color: var(--dark-bg);
  padding-bottom: 10vh;
}

.regtext {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

.movie-title {
  font-size: 4rem;
  font-family: var(--movie-font);
  font-weight: 400;
  font-style: normal;
  color: var(--dark-red);
}

/* Header Styles */
header {
  padding-block: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
  padding: 3rem auto;
  background: var(--dark-bg);
  border-bottom: 1px solid linear-gradient(to right, var(--flashy-mint), var(--dark-bg));
  max-height: 35vh;
  width: 100%;;
}

.header-logo {
  margin: 0 0 2em auto;
  max-height: 23vh;
  max-width: 100%;
}

.site-title-image {
  max-height: 100%;
  max-width: 40vh;
  margin: 0 auto 2em 0;
  filter: var(--neon-logo-mint-img);
}

/* Section Titles and Section Margin */
section {
  margin: 5vh 8vh;
  padding: 2vh 5vh;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4.5rem;
}

.section-title {
  font-family: var(--category-font);
  font-weight: 400;
  font-style: normal;
  margin: 3rem 0 0 2rem;
}

/* Best Movie Section */
#best-movie .section-title {
  margin: 0 auto 3rem auto;
  text-align: left;
}

/* The litteral "section" tag container */
#best-movie { 
  display: block;
}

#best-movie-title {
  font-size: 4rem;
  font-family: var(--movie-font);
  font-weight: 400;
  font-style: normal;
  /* color: var(--dark-red); */
  color: var(--dark-mint-ref);
  text-shadow:
      0 0 1px #FFF,
      0 0 2px var(--dark-red),
      0 0 4px var(--dark-red),
      0 0 6px var(--dark-red),
      0 0 10px var(--dark-red),
      0 0 14px var(--dark-red),
      0 0 20px var(--dark-red),
      0 0 26px var(--dark-red), 
      0 0 30px var(--dark-red);
}

.best-description {
  font-size: 1.5rem;
  margin-block: 1em;
}

/* Smaller container to organize the elements */
.best-movie-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: left;
  padding: 4rem;
  border: 2px solid #78fbc0e1;
  border-radius: 45px;

}

/* The text part of the section */
.best-movie-container article {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  max-width: 65vh;
}

.best-movie-poster {
  padding: 0;
  height: fit-content;
  width: auto;
}

#best-movie-img {
  display: inline-flex;
  justify-self: flex-start;
  min-width: 30vh;
  max-width: 100%;
}

.best-movie-container button {
  margin: auto;
}

/* Global button styles */
button {
  width: 10vh;
  height: 5vh;
  font-weight: bold;
  border-radius: 15px;
  padding: auto;
  text-align: center;
  color: var(--dark-bg);
  background: linear-gradient(180deg, rgba(124,31,31,0.84) 0%,rgba(124,31,31,1) 10%,rgba(173,20,0,1) 21%,rgba(219,47,0,1) 56%,rgba(255,67,0,1) 83%,rgba(255,67,0,1) 100%);
  transition: 0.4s ease;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 8px 9px 14px -5px rgba(0,0,0,0.77);
  transform: perspective(2px) translateZ(0);
}

.cross-btn-container {
  display:  none;
}

.cross-btn {
  display: none;
  width: 10px;
  height: 10px;
}

.open-modal {
  /* color: var(--dark-mint-ref); */
  color: var(--dark-mint-ref);
  background: linear-gradient(180deg, rgba(124,31,31,0.84) 0%,rgba(124,31,31,1) 10%,rgba(173,20,0,1) 21%,rgba(219,47,0,1) 56%,rgba(255,67,0,1) 83%,rgba(255,67,0,1) 100%);
}

/* Catalogue Sections: sections displaying several movies to select */
.catalogue {
  margin: 0;
}

.toggle-btn {
  display: none;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.movie-box {
  position: relative;
  width: calc(33.33% - 20px);
  aspect-ratio: 1 / 1;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: var(--shadow-box);
  border: 1px solid var(var(--flashy-mint));
  border-radius: 12px;
}

.movie-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay Styles */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: var(--dark-mint-ref);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  justify-items: center;
  opacity: 0;
  transition: 0.4s ease;
}

.overlay h4 {
  color: var(--dark-mint-ref);
  text-align: center;
  font-size: 2.8rem;
}

.movie-box:hover .overlay {
  opacity: 1;
}

.overlay button {
  background: var(--dark-red-gradient);
  color: var(--dark-mint-ref);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.4s ease;
}

.overlay button:hover {
  box-shadow: inset 8px 9px 14px -5px rgba(0,0,0,0.77);
}

.overlay:hover {
  background: rgba(0, 0, 0, 0.7);
  color: var(--dark-mint-ref);
}

/* Dropdown for Categories */
.dropdown {
  padding: 0;
  width: fit-content;
  max-width: 50%;
}

.category-list-button {
  font-family: var(--category-font);
  font-size: 2rem;
  text-align: center;
  text-justify: center;
  padding: 1rem 3rem;
  margin-bottom: 0.5rem;
  width: 40vh;
  height: max-content;
  color: var(--dark-bg);
  background: linear-gradient(180deg, rgba(124,31,31,0.84) 0%,rgba(124,31,31,1) 10%,rgba(173,20,0,1) 21%,rgba(219,47,0,1) 56%,rgba(255,67,0,1) 83%,rgba(255,67,0,1) 100%);
  cursor: pointer;
  border: 1px solid var(--warm-yellow);
  border-radius: 10px;
  box-shadow: rgba(45, 35, 66, 0.4) 0px -2px -4px 0px, rgba(45, 35, 66, 0.3) 0px -7px -13px 3px, rgb(214, 214, 231) 0px 3px 0px 0px inset;
}

.category-list-button:hover {
  color: var(--dark-mint-ref);
  background: linear-gradient(180deg, rgba(96, 24, 24, 0.84) 0%,rgb(97, 24, 24) 10%,rgb(96, 33, 25) 21%,rgb(96, 37, 20) 56%,rgba(96,37,20,1) 83%,rgba(96,37,20,1) 100%);
  box-shadow: inset 8px 9px 14px -5px rgba(0,0,0,0.77);
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 50vh;
  z-index: 2;
  margin-bottom: 5vh;
  overflow-y: scroll;
  opacity: 0;
  transition: 1s ease;
}

.category-dropdown-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: auto;
  width: 15%;
  border: none;
  border-radius: 0%;
  font-family: var(--category-font);
  margin: 0;
  color: var(--dark-bg);
  font-size: 2rem;
  justify-content: space-around;
  align-content: space-around;
  background: #fc4310ea;
}

.category-dropdown-button:hover {
  background: #cc2d00;
  box-shadow: inset 8px 9px 14px -5px rgba(0,0,0,0.77);
}

.to-define-section {
  display: block;
}

/* .waiting-window-container {
  background-color: #010c10c0;
  border: 2px solid hsl(29, 96%, 47%);
  border-radius: 15% 25% 2% 47% / 0% 48% 0% 0%  ;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
  min-height: 65vh;
} */

/* .waiting-logo {
  margin: auto;
  max-width: 30vh;
  aspect-ratio: 1.11 / 1;
} */

/* Modal Styles */
#modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  margin: 0;
  padding: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.781);
}

#modal-content {
  background: var(--dark-bg);
  color: var(--dark-mint-ref);
  margin: 3rem 5rem auto 5rem;
  padding: 5rem;
  border: 1.5px solid #8864fe;
  border-radius: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  box-shadow: var(--shadow-box);
  max-height: 100%; 
  overflow-x: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-height: fit-content;
  
}

#modal-title {
  font-family: var(--movie-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1;
  color: #ff3030;
  margin-bottom: 1rem;
}

.technical-datasheet {
  flex: 1;
  text-align: left;
}

.technical {
  font-family: var(--font-family);
  text-align: left;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0;
}

#directors em {
  font-size: 2rem;
  font-family: var(--category-font);
  font-style: normal;
}

#directors {
  margin-block: 1rem;
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 400;
}

#modal-poster {
  margin: 0 0 auto auto;
  align-self: baseline;
  justify-self: right;
  padding: 0%;
  max-width: 100%;
  border-radius: 5px;
}

#long-description, #casting {
  margin-block: 1em;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 400;
}

.synopsis-literal-word {
  font-size: 2.5rem;
  font-family: var(--category-font);
}

.casting-literal-word {
  font-size: 2.5rem;
  font-family: var(--category-font);
}

.close-modal {
  display: flex;
  justify-content: space-around;
}

#close-modal {
  margin: 0 auto;
  text-align: center;
  color: var(--dark-mint-ref);
  background-color: var(--dark-red);
  font-weight: bold;
  width: 10rem;
  height: 4rem;
}

.cross-btn-container, .cross-btn {
  display: none;
}

footer {
  bottom: 0;
  padding-top: 5rem;
  margin-top: 5rem;
}

/* Responsive Design: */
/* Breaking points and media queries */

/* Light Theme */
@media (prefers-color-scheme: light) {
  .dark-theme {
    display: none;
  }

  .light-theme {
    display: block;
  }

  .loader-overlay, header {
    background-color: var(--light-bg);
  }

  .loader-title {
    filter: var(--relief-logo-effect);
  }

  body {
    background-color: var(--light-bg);
    color: var(--dark-bg)
  }

  .site-title-image {
    filter: var(--relief-logo-effect);
  }

  .best-movie-container {
    border: 1px solid #37256f;
  }

  #best-movie-title {
    color: var(--light-red);
    text-shadow: none;
  }

  .category-list-button {
    color: var(--light-bg);
    background: linear-gradient(180deg, rgb(73, 18, 18) 31%, rgba(73, 18, 18,1) 44%, rgba(73, 18, 18,1) 60%, rgba(73, 18, 18,1) 67%, rgba(73, 18, 18,1) 73%, rgba(73, 18, 18,1) 77%, rgba(73, 18, 18,1) 80%, rgba(73, 18, 18,1) 83%, rgb(36, 8, 8) 90%, rgb(26, 6, 6) 95%, rgba(6, 1, 1, 0.769) 100%);
    box-shadow: rgba(45, 35, 66, 0.4) 0px -2px -4px 0px, rgba(45, 35, 66, 0.3) 0px -7px -13px 3px, rgb(214, 214, 231) 0px 3px 0px 0px inset;
  }

  #modal-content {
    color: var(--dark-bg);
    background-color: var(--light-bg);
    border: 1px solid #8359ff;
  }

  #modal-title {
    color: var(--light-red);
  }

  button {
    border: 2px solid hsla(0, 0%, 100%, 0.275) inset; 
    background-color: var(--light-red);
    color: var(--dark-bg)
  }

  .waiting-window-container {
    background-color: var(--dark-bg);
  }

}

/* Tablets */
@media only screen and (max-width: 1024px) {
  main {
    margin-bottom: 5rem;
    overflow-y: auto;
  }

  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.8rem;
  }
  
  h3 {
    font-size: 2.5rem;
  }

  section {
    padding:0;
    margin: 0;
  }

  .section-title, 
  .modal-title, 
  .technical-datasheet,
  .synopsis-literal-word,
  .casting-literal-word {
    text-align: center;
  }

  #best-movie {
    max-width: 100%;
  }

  #best-movie .section-title {
    text-align: center;
  }

  .best-movie-container {
    border-radius: 0;
  }

  .best-movie-poster, #best-movie-img {
    width: 100%;
  }

  .best-movie-container article {
    margin: 3rem;
    padding: 0;
  }

  .best-description {
    text-align: justify;
  }

  .category-dropdown-button {
    min-width: fit-content;
    font-size: 1.2rem;
    font-family: var(--font-family);
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.4);;
    opacity : 1;
  }

  .overlay h4 {
    padding: 3rem;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .overlay:hover {
    opacity: 1;
  }

  .movie-box {
      width: calc(50% - 20px);
  }

  .movie-container:not(.expanded) .movie-box:nth-child(n+5) {
    display:none;
  }

  .to-define-section .movie-container .toggle-btn {
    display: none;
  }

  .toggle-btn {
    display: block;
    width: 15rem;
    height: 4rem;
    margin: 2rem auto 5rem auto;
    padding: auto;
    color: var(--light-bg);
    background: linear-gradient(180deg, rgba(124,31,31,0.84) 0%,rgba(124,31,31,1) 10%,rgba(173,20,0,1) 21%,rgba(219,47,0,1) 56%,rgba(255,67,0,1) 83%,rgba(255,67,0,1) 100%);
    box-shadow: rgba(45, 35, 66, 0.4) 0px -2px -4px 0px, rgba(45, 35, 66, 0.3) 0px -7px -13px 3px, rgb(214, 214, 231) 0px 3px 0px 0px inset;
    transition: 0.4s ease;
  }

  .toggle-btn:hover, .toggle-btn:active, .toggle-btn::after {
    background: #661a05ea;
    box-shadow: inset 8px 9px 14px -5px rgba(0,0,0,0.77);
  }

  #modal {
    padding: 0;
  }

  #modal-content {
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 auto 0;
    width: 100%;
    overflow-y: auto;
    border-radius: 0;
  }

  .modal-header {
    display: flex;
    text-align: center;
  }

  .technical-datasheet {
    text-align: center;
    width: 100%;
  }

  #modal-poster {
    width: 100%;
    text-align: center;
  }

  #modal-poster img {
    width: 100%;
    max-width: 300px;
  }

  .close-modal .desktop {
    display: none;
  }

  .modal-header {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .technical-datasheet {
    flex: 2;
    min-width: 60%;
  }

  .cross-btn-container {
    flex: 1;
    display: block;
    margin: 0 0 auto auto;
    align-self: baseline;
    top: 0px;
    right: 0px;
    padding: 0;

  }

  .cross-btn {
    background-color: var(--dark-red);
    color: var(--dark-mint-ref);
    display: block;
    border: 2px solid hsla(0, 0%, 100%, 0.282) inset;
    border-radius: 0;
    padding: 1rem;
    text-align: center;
    align-items: center;
  }

  .technical {
    text-align: center;
  }

  #directors {
    text-align: center;
  }

  #modal-poster {
    margin: 0;
    width: 100%;
    height: auto;
  }

}

/* Mobile */
@media only screen and (max-width: 768px) {

  .loader-overlay {
    max-width: 100vh; 
  }

  .site-title-image {
    display: none;
  }

  header {
    max-height: fit-content;
    align-items: center;
    justify-content: space-around;
  }

  .header-logo {
    height: 100%;
    width: auto;
    margin: auto;
  }

  section {
    margin: 2em 0;
    width: 100%;
  }

  .movie-box {
    width: 100%;
    margin: 2em auto;
  }

  .movie-container:not(.expanded) .movie-box:nth-child(n+3) {
    display:none;
  }

  .toggle-btn {
    display: block;
  }

  #best-movie {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .best-movie-container {
    width: 100%;
  }

  .best-movie-poster {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
  }

  .best-movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #modal-poster {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
  }
  
  #modal-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}

@media only screen and (max-width: 416) {
  .section-title, .movie-title, .modal-title, h2, h3 {
    font-size: 1.4rem;
    text-align: center;
    margin-inline: auto;
  }

  .movie-title {
    font-size: 1.4rem;
  }
}

/* @media screen and (max-width: 567px) {
  html {
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-content: space-evenly;
  }

  header {
    width: 100%;
  }

  .site-title-image {
    display: none;
  }

  .header-logo {
    max-width: 70%;
    margin: auto;
  }

} */